.favorites {
    min-height: 400px;
    background-color: #fff;
    padding-top: 20px;
  }
  
  .favorites__title {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
  }
  
  .favorites__list {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .favorites__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  .favorites__item-details {
    flex: 1;
    flex-direction: column;
    align-items: start;
  }    
  
  .favorites__item-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .favorites__item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .favorites__item-description {
    margin-bottom: 5px;
  }
  
  .favorites__item-price {
    font-weight: bold;
  }

  .favorites__item-add-to-cart-container {
    margin-top: auto; 
  }
  .favorites__item-add-to-cart {
    background-color: chocolate;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .favorites__item-add-to-cart:hover {
    opacity: .5;
  }
  .favorites__item-delete-favorites{
    background-color: chocolate;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  .favorites__item-delete-favorites:hover {
    opacity: .5;
  }