.card {
    width: 282px;
    height: 381px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    padding: 0;
  }
  
  .card__image {
    width: 100%;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
  }  
  .card__subtitle{    
    min-width: 100%;
    color: #000;
    font-family: 'Inter-Black';
    font-size: 17px;
    max-width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .card__description {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .card__price {
    font-size: 10px;
    min-width: 100%;
    color: red;
    text-align: center;
  }
  .card__price-normal{
    font-size: 10px;
    min-width: 100%;
    color: #666;
    text-align: center;
  }
  .card__stock {
    font-size: 10px;
    min-width: 100%;
    color: #666;
    text-align: center;
  }
  .card__content{
    width: 22px;
    min-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 17px;
    right: 12px;
  }
  .card__add-to-cart{
    border: none;
    background-image: url("../../images/cart.svg");
    background-color: transparent;
    border: none;
    background-size: cover; /* Ajusta la imagen para cubrir completamente el área del botón */
    background-position: center; /* Centra la imagen dentro del botón */
    width: 21px; /* Hacer que la imagen se adapte al ancho del contenedor */
    height: 19px;
  }
  .card__add-to-cart_activate{
    border: none;
    background-image: url("../../images/cartFull.svg");
    border: none;
    width: 21px; /* Hacer que la imagen se adapte al ancho del contenedor */
    height: 19px;
    background-size: cover; /* Ajusta la imagen para cubrir completamente el área del botón */
    background-position: center; /* Centra la imagen dentro del botón */
  }
  .card__add-to-cart:hover{
    opacity: 0.5;
  }

  .card__btn-love {
    width: 21px;
    height: 19px;
    margin-right: 12px;
    background-image: url("../../images/LoveVacio.svg");
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 115px;
  }
  .card__btn-love_activate{
    background-image: url("../../images/Like.svg");
  cursor: not-allowed; 
  pointer-events: none;
  }
  .card__btn-love:hover {
    opacity: 0.5;
  }
  .card__btn-love_activate {
    transform: scale(1.2, 1.2);
    background-image: url("../../images/Like.svg");
  }