.header{
    width: 100%;
    max-height: 60 px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #212529;  
    padding-top: 10px;
}
.header__titulo{
    max-width: 400px;
    height: 70px;
    color: #F206FD;
    font-family: "Inter-Black";
    font-size: 50px;
    margin: 0 auto;
}