.register {
    width: 100%;
    height: 100vh;
    background-color: white; 
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .register-form__titulo{
    font-family: "Inter-Black";
    font-size: 24px;
    text-align: center;
    color: black;
}
.register-form__input {
  display: block;
  max-width: 358px;
  width: 100%;
  height: 27px;
  text-align: center;
  margin: 30px auto 0;
  color: black;
  border: none;
  opacity: 0.7;
  border-bottom: 1px solid black;
}

.register-form{
  width: 358px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.register-form__link {
  font-family: "Inter-Regular"; 
  display: block;
  font-size: 14px;
  margin: 15px auto 0;
  text-align: center;
  color: black;
  text-decoration:none;
}
.register-form__link:hover {
color: blueviolet;
}

.register-form__input-error{
    color: red;
    font-family: "Inter-Regular";
    font-size: 12px;
    display: none;
}

.register-form__input-error_active {
  display: flex;
}

.register-form__btn-save {
  display: block;
  max-width: 358px;
  width: 100%;
  text-align: center;
  height: 50px;
  margin: 100px auto 0;
  font-family: "Inter-Regular";
  background-color: #8FDFD3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
.register-form__btn-save_disabled{
  background-color: gainsboro;
  pointer-events: none;
}

.register-form__btn-save:hover{
opacity: 0.95;
}
.register-form__input::-webkit-input-placeholder { /* WebKit browsers (Chrome, Safari, Opera) */
  color: black;
}
.register-form__input::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
.register-form__input::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
